@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #CED0CE;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Exo 2", "Fredoka", Arial, Helvetica;
}


/* Header: */

header {
    display: grid;
    grid-template-columns: 150px 5px 3fr;
    padding: 5px;
    background-color: #650D1B;
    border-radius: 15px;

}

.logo {
    width: 100%;
    object-fit: fill;
}

nav {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #CED0CE;
    font-size: 2.5rem;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

nav a:hover {
    color: #F15025; /* Highlight color on hover */
    background-color: #CED0CE;
}

/* Body: */

#home-main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10px 1fr 300px;
}

#headshot-intro {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50px 1fr 50px 2.5fr 50px;
    grid-template-rows: 50px 1fr 50px;
    background-color: #191919;
    border-radius: 15px;
    align-items: center;
    color: #191919;
}
#headshot-intro img {
    grid-column: 2/3;
    grid-row: 2/3;
    object-fit: fill;
    width: 100%;
    border-radius: 15px;
}
#headshot-intro div {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #CED0CE;
    border-radius: 15px;
    height: 100%;
}

#headshot-intro div h2 {
    font-size: 150px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}
#headshot-intro div p {
    font-size: 36px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;

}




#main-msg {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #650D1B;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 50px 1fr 50px;
}

#computer-stock {
    border-radius: 15px;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
    height: 700px;
}

#main-msg div {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    display: flex;
}

#main-msg div p{
    color: #CED0CE;
    font-size: 45px;
    margin: 50px;
    align-self: center;
    text-align: center;    
}




.button {
    text-align: center;
    text-decoration: none;
    background-color: #650D1B;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 150px;
    transition: background-color 0.3s ease;
}

#project-button{
    grid-column: 1/2;
    grid-row: 4/5;
}

#resume-button {
    grid-column: 2/3;
    grid-row: 4/5;
}

.button-link {
    text-decoration: none;
    color: #CED0CE;
    align-self: center;
    text-align: center;  
    font-size: 72px;  
}

.button:hover {
    background-color: #CED0CE;
    .button-link {color:#F15025}
}





footer {
    display: grid;
    grid-template-columns: 150px 5px 3fr;
    padding: 5px;
    background-color: #650D1B;
    border-radius: 15px;
}

#footer-nav {
    grid-template-columns: 1fr 1fr 1fr 70px 70px;
}

#copyright {
    color: #CED0CE;
    text-align: center;
}

.social-link:hover{
    background-color:#650D1B;
}

.social-link img{
    border-radius: 15px;
}


/* Flipcard CSS for Component Assignment*/
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 960px;
    height: 515px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #CED0CE;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #191919;
    color: #CED0CE;
    transform: rotateY(180deg);
  } 